@attribute [Authorize]
@page "/column/create";
@inject HttpClient Http
@inject IMatToaster matToaster

<MatDialog @bind-IsOpen="@IsOpen">
    <EditForm Model="@ColumnModel" OnValidSubmit="SubmitForm">
        <MatDialogTitle>Add new column</MatDialogTitle>
        <p>
            <DataAnnotationsValidator />
            @*<ValidationSummary />*@
        </p>
        <MatDivider></MatDivider>
        <MatDialogContent>
            <p>
                <label for="column-title">Column Title</label>
                <MatTextField Id="column-title" @bind-Value="@ColumnModel.Title" FullWidth="true"></MatTextField>
                <ValidationMessage For="@(() => ColumnModel.Title)" />
            </p>
            <p>
                <label for="column-description">Column Description (optional)</label>
                <MatTextField Id="column-description" @bind-Value="@ColumnModel.Description" FullWidth="true" TextArea="true"></MatTextField>
            </p>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton Type="submit">Save</MatButton>
            <MatButton Type="button" OnClick="Close">Cancel</MatButton>
        </MatDialogActions>
    </EditForm>
</MatDialog>

@code  {
    [Parameter] public string BoardId { get; set; }

    [Parameter] public EventCallback OnSubmitCallback { get; set; }

    private BlazorKanban.Shared.Column ColumnModel { get; set; } = new Column();

    private bool IsOpen { get; set; } = false;

    protected override void OnInitialized()
    {
        ColumnModel = new BlazorKanban.Shared.Column();

        ColumnModel.BoardId = BoardId;
    }

    public void Open()
    {
        IsOpen = true;
        ColumnModel = new BlazorKanban.Shared.Column();

        StateHasChanged();
    }

    void Close()
    {
        IsOpen = false;
        ColumnModel = new BlazorKanban.Shared.Column();
    }

    private async Task SubmitForm()
    {
        ColumnModel.BoardId = BoardId;

        var response = await Http.PostAsJsonAsync<BlazorKanban.Shared.Column>($"api/tasklists", ColumnModel);
        response.EnsureSuccessStatusCode();

        if (response.IsSuccessStatusCode)
        {
            matToaster.Add($"The \"{ColumnModel.Title}\" column has been created", MatToastType.Success, "Create");
        }
        else
        {
            matToaster.Add($"The \"{ColumnModel.Title}\" column could not be created", MatToastType.Danger, "Create");
        }

        IsOpen = false;
        ColumnModel = new BlazorKanban.Shared.Column();
        await OnSubmitCallback.InvokeAsync(this);
    }
}